/.vscode
/Day1/Day1.exe
/Day1/Day1.exp
/Day1/Day1.lib
/Day2/Day2.exe
/Day2/Day2.exp
/Day2/Day2.lib
/Day3/Day3.exe
/Day3/Day3.exp
/Day3/Day3.lib
/Day4/Day4.exe
/Day4/Day4.exp
/Day4/Day4.lib
/Day5/Day5.exe
/Day5/Day5.exp
/Day5/Day5.lib
/Day6/Day6.exe
/Day6/Day6.exp
/Day6/Day6.lib
/Day7/Day7.exe
/Day7/Day7.exp
/Day7/Day7.lib
/Day8/Day8.exe
/Day8/Day8.exp
/Day8/Day8.lib
